/* ================= NAVBAR ================= */

.navbar {
  height: 70px;
  width: 100%;
  background: #022239;
  padding: 0 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ================= LOGO ================= */

.logo {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
}

.logo span {
  color: orangered;
}

/* ================= MENU ================= */

.navbar-menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-menu li {
  position: relative;
}

/* ================= MENU LINKS ================= */

.navbar-menu a {
  position: relative;
  display: inline-block;
  padding: 10px 22px;
  font-size: 1rem;
  color: #e5e7eb;
  text-decoration: none;
  border-radius: 30px;
  background: #000106;
  transition: 0.3s ease;
  overflow: hidden;
  z-index: 0;
}

/* ================= ANIMATION BORDER ================= */

.navbar-menu a::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  border-radius: 50%;
  background: conic-gradient(
    transparent 0deg,
    #38bdf8 60deg,
    #ffffff 120deg,
    #38bdf8 180deg,
    transparent 240deg
  );
  animation: rotate 2.5s linear infinite;
  z-index: -2;
  opacity: 0;
}

/* ================= MOBILE NAVBAR ================= */

@media (max-width: 768px) {

  .navbar {
    padding: 10px 5%;
  }

  .logo {
    font-size: 1.5rem;
  }

  .navbar-menu {
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background: #000106;
    padding: 20px 0;
    gap: 15px;
  }

  .navbar-menu a {
    font-size: 1rem;
    padding: 8px 15px;
  }

}

/* ================= INNER MASK ================= */

.navbar-menu a::after {
  content: "";
  position: absolute;
  inset: 2px;
  background: #000106;
  border-radius: 30px;
  z-index: -1;
}

/* ================= HOVER EFFECT ================= */

.navbar-menu a:hover {
  transform: translateY(-3px);
  color: orangered;
}

.navbar-menu a:hover::before,
.navbar-menu a.active::before {
  opacity: 1;
}

/* ================= ROTATION ================= */

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}